body{
    background-color: antiquewhite;
}
.category{

width: 420px;
height: 420px;
}

.catalog-grid{
    padding: 20% 20%;
}
.grid-cell{
    border: 1px solid black;
    background-color: rgb(255, 255, 255);
    width: 250px;
    height: 500px;
}
.name{
    font-size: 24px;            
}
.name:hover{
    cursor: pointer;
    color: #ab5414;
}
.img-place{
    width: 100%;
    height: 350px;
    background: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
}
.bot-text{
    height: 150px;
}
.promo{
    justify-content: center;
    width: 300px;
    height: 300px;

}
ul{
    list-style-type: none;
}
.price{
    height: 70px;
    margin-left: 10px;
    display: flex;
    align-items: flex-end;
    font-size: 36px;
}
.review{
    display: flex;
}
.reviews{
    display: flex;
    color: #3e77aa;
    font-size: 14px;
    justify-content: end;
    align-items: flex-end;
}
.reviews:hover{
    cursor: pointer;
    color: #ab5414;
}
.star-ratings-css {
    unicode-bidi: bidi-override;
    color: #c5c5c5;
    font-size: 25px;
    height: 25px;
    width: 100px;
    position: relative;
    text-shadow: 0 1px 0 #a2a2a2;
  } 
  .star-ratings-css::before { 
    content: '★★★★';
    opacity: .3;
  }
  
  [title=".000"]::after {
    width: 0%;
  }
  [title=".125"]::after {
    width: 12.5%;
  }
  [title=".250"]::after {
    width: 25%;
  }
  [title=".375"]::after {
    width: 37.5%;
  }
  [title=".500"]::after {
    width: 50%;
  }
  [title=".625"]::after {
    width: 62.5%;
  }
  [title=".750"]::after {
    width: 75%;
  }
  [title=".875"]::after {
    width: 87.5%;
  }
  .star-ratings-css::after {
    color: gold;
    content: '★★★★';
    text-shadow: 0 1px 0 #ab5414;
    position: absolute;
    z-index: 1;
    display: block;
    left: 0;
    top:0;
    width: attr(rating);
    overflow: hidden;
  }
  
  
